<div class="all-title-box" style="margin-top: -7px;">
    <div class="container text-center">
        <h1>Jon Details<span class="m_1">{{data.Company?.Name}}</span></h1>
    </div>
</div>
<div id="overviews" class="section wb">
    <div class="container" id="output">
        <div class="row">
            <div class="col-lg-9 blog-post-single">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="public-pages/public-assets/images/blog_single.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="post-content">
                        <div class="meta-info-blog flex gap-3 items-center mt-4">
                            <!-- Facebook SDK Root -->
                            <div id="fb-root"></div>

                            <!-- Facebook Share Button -->
                            <div class="fb-share-button" [attr.data-href]="currentUrl" data-layout="button_count"></div>
                            <!-- WhatsApp Share Button -->
                            <button class="share-btn whatsapp" (click)="shareOnWhatsApp()">
                                <i class="fa fa-whatsapp"></i> WhatsApp
                            </button>
                            <!-- Telegram Share Button -->
                            <button class="share-btn telegram" (click)="shareOnTelegram()">
                                <i class="fa fa-telegram"></i> Telegram
                            </button>
                        </div>
                        <div class="post-date">
                            <span class="day"
                                *ngIf="data.InterviewDate && isFutureOrToday(data.InterviewDate)">New</span>
                            <!-- <span class="month">Nov</span> -->
                        </div>
                        <div class="meta-info-blog">
                            <span style="font-weight: bold;"><i class="fa fa-calendar"></i> <a href="#"> <span
                                        style="color: blue;">Inteview Date:</span> {{data.InterviewDate | date:
                                    'dd-MMM-yyyy'}}</a> </span>
                        </div>
                        <div class="blog-title">
                            <h2 class="fa fa-briefcase"> {{data.Company?.Name}}</h2>
                        </div>
                        <div class="blog-desc">
                            <div class="widget-categories">
                                <div>
                                    <div class="pricingContent">
                                        <ul>
                                            <li><span class="day"><u>Interview Location:</u></span><a href="#">
                                                    {{data.InterviewLocation}}</a></li>
                                            <li><span class="day"><u>interview Time: </u></span><a href="#">
                                                    {{formatInterviewTime(data.InterviewTime)}}</a></li>
                                            <li><span class="day"><u>Job Location: </u></span><a href="#">
                                                    {{data.JobLocation?.Location}}</a></li>
                                            <li><span class="day"><u>Qualification: </u></span><a href="#">
                                                    {{data.Qualification}}</a></li>
                                            <li><span class="day"><u>Department: </u></span><a href="#">
                                                    {{data.Department}}</a></li>
                                            <li><span class="day"><u>Contact: </u></span><a href="#">
                                                    {{data.ContactNumber}}</a></li>
                                            <li><span class="day" [innerHTML]="data.OtherDetail"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="blog-author">
                    <div class="author-bio">
                        <h3 class="author_name"><a href="#">Disclaimer(अस्वीकरण)</a></h3>
                        <!--<h5>CEO at <a href="#">SmartEDU</a></h5>-->
                        <p class="author_det">
                            आवश्यक सूचना – हमारी बेवसाइट पर डाली गई किसी भी जाॅब के लिए किसी भी प्रकार का चार्ज नहीं
                            लगता है।
                            हमारी बेवसाइट पर सभी कंपनियों की जाॅब बिल्कुल फ्री होती हैं। फ्राॅड लोगों से सावधान रहें।
                            अगर आपसे
                            हमारी बेवसाइट पर डाली गई किसी भी जाॅब के लिए आपसे पैसे मांगे जाते हैं तो तुरंत हमें इस
                            व्हाट्सएप
                            नंबर 👉 +91-9818732237 पर सूचित करें। इंटरव्यू के लिए बेवसाइट पर दिए गए समय से पहले ही
                            पहुंचे। अगर
                            आप इंटरव्यू के लिए दिए गए समय के बाद पहुंचते हैं तो इसके आप स्वयं जिम्मेदार होंगे। धन्यवाद
                        </p>
                    </div>
                    <div class="author-desc">
                        <img src="public-pages/public-assets/images/author.jpg" alt="about author">
                        <ul class="author-social">
                            <li><a href="https://www.facebook.com/profile.php?id=61571906392238&mibextid=ZbWKwL"
                                    target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li style="padding: 5px;"><a href="https://chat.whatsapp.com/Kr7SFjCgBre8FBvPjLLPf2"
                                    target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://t.me/+DMiKAhM5twRkMWE1" target="_blank"
                                    style="background-color: black;">
                                    <!-- <i class="fa fa-telegram"></i> -->
                                    <img src="public-pages/public-assets/images/telegramBlack.png"
                                        style="height: 30px;margin-left: -0.5px;" alt="Telegram">
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-12 right-single">
                <div class="widget-search">
                    <div class="site-search-area">
                        <form method="get" id="site-searchform" action="#">
                            <div>
                                <input class="input-text form-control" name="search-k" id="search-k"
                                    placeholder="Search keywords..." type="text">
                                <input id="searchsubmit" value="Search" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="widget-categories">
                    <h3 class="widget-title">Job Categories</h3>
                    <ul>
                        <li><a href="#">अनपढ़</a></li>
                        <li><a href="#">10th Pass</a></li>
                        <li><a href="#">12th Pass</a></li>
                        <li><a href="#">Diploma</a></li>
                        <li><a href="#">Graduation</a></li>
                        <li><a href="#">Post Graduation</a></li>
                    </ul>
                </div>
                <div class="widget-tags">
                    <h3 class="widget-title">Search Tags</h3>
                    <ul class="tags">
                        <li><a href="#"><b>Field</b></a></li>
                        <li><a href="#"><b>Production</b></a></li>
                        <li><a href="#">Back office</a></li>
                        <li><a href="#">Reception</a></li>
                        <li><a href="#">Security Gaurd</a></li>
                        <li><a href="#"><b>Maid</b></a></li>
                        <li><a href="#"><b>Gardner</b></a></li>
                        <li><a href="#"><b>Painter</b></a></li>
                        <li><a href="#">Electrician</a></li>
                        <li><a href="#">Blumber</a></li>
                        <li><a href="#">Carpenter</a></li>
                        <li><a href="#">Cleaner</a></li>
                        <li><a href="#"><b>Driver</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>