<div class="section-title row text-center">
  <div class="col-md-8 offset-md-2">
      <p class="lead" style="font-size: 13px;">इस वेबसाइट पर पोस्ट की गई सभी नौकरियाँ और जानकारी पूरी तरह से सही और
        मुफ्त हैं। हम किसी भी नौकरी के लिए कोई शुल्क नहीं लेते हैं। हमारी प्राथमिकता है कि आप एक सुरक्षित और भरोसेमंद नौकरी की
        तलाश कर सकें। कृपया धोखाधड़ी से बचने के लिए सतर्क रहें और किसी भी प्रकार के शुल्क या व्यक्तिगत जानकारी की मांग
        से बचें। आपके करियर की सफलता में हम हमेशा आपके साथ हैं!</p>
  </div>
</div>
<hr class="invis">
<div *ngFor="let row of chunkedData">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12" *ngFor="let item of row">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center">
              <u><b style="color: blue;">{{ item.Company?.Name }}</b></u>
            </h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: {{ item.JobLocation?.Location }}</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem">
              <a [href]="'JobDetails.html?id=' + item.JobDetailId" title="">
                <u>अधिक जानकारी के लिए यहां क्लिक करें</u>
              </a>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr3" />
</div>