<div class="section-title row text-center">
    <div class="col-md-8 offset-md-2">
      <p class="lead" style="font-size: 13px;">इस वेबसाइट पर पोस्ट की गई सभी नौकरियाँ और जानकारी पूरी तरह से सही और
        मुफ्त
        हैं। हम किसी भी नौकरी के लिए कोई शुल्क नहीं लेते हैं। हमारी प्राथमिकता है कि आप एक सुरक्षित और भरोसेमंद नौकरी की
        तलाश कर सकें। कृपया धोखाधड़ी से बचने के लिए सतर्क रहें और किसी भी प्रकार के शुल्क या व्यक्तिगत जानकारी की मांग
        से
        बचें। आपके करियर की सफलता में हम हमेशा आपके साथ हैं!</p>
    </div>
  </div>
<hr class="invis">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">khvatec India Pvt Ltd</b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: Kasna greater Noida (G.B Nagar) UP, near Asian paint company</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=51:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">UIL_Electronics (Apprenticeship profile)</b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: Ecotec 1 Extension Greater Noida</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=50:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">BJD Electronics</b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: B-005, B Block, Sector 65, Noida, Uttar Pradesh 201301</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=49:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">Kimbal_Company </b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: Greater Noida Surajpur</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=48:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">khvatec India Pvt Ltd</b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: Kasna greater Noida (G.B Nagar) UP, near Asian paint company</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=51:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">UIL_Electronics (Apprenticeship profile)</b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: Ecotec 1 Extension Greater Noida</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=50:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">BJD Electronics</b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: B-005, B Block, Sector 65, Noida, Uttar Pradesh 201301</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=49:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="course-item">
        <div class="course-br" style="padding: 0px">
          <div class="course-title">
            <h5 class="center"><u><b style="color: blue;">Kimbal_Company </b></u></h5>
          </div>
          <div class="course-desc">
            <ul>
              <li>Location: Greater Noida Surajpur</li>
            </ul>
          </div>
        </div>
        <div class="course-meta-bot" style="padding: 0px">
          <ul>
            <p style="margin-bottom: 0rem"><a href="JobDetails.html?id=48:1" title=""><u>अधिक जानकारी के लिए यहां क्लिक
                  करें</u></a></p>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr3">
  <div class="row">